<div class="card" mat-form-field appearance="fill">
    <form class="animateur-inscription" [formGroup]="inscriptionForm">
        <h1>Inscription</h1>

        <div class="inputs">
            <label for="name">
                <i class="fa fa-user" style="color: forestgreen;"></i>
                <input type="name" placeholder="Nom*" id="name" [formControlName]="'name'">
            </label>
            <label for="mail">
                <i class= "fa fa-envelope" style="color: forestgreen;"></i>
                <input type="mail" placeholder="Adresse mail*" id="mail" [formControlName]="'mail'">
            </label>
            <label for="password">
                <i class="fa fa-lock" style="color: forestgreen;"></i>
                <input type="password" placeholder="Mot de passe*" id="password" [formControlName]="'password'">
            </label>
            <label for="passwordConfirmed">
                <i class="fa fa-lock" style="color: forestgreen;"></i>
                <input type="password" placeholder="Confirmer le mot de passe*" id="passwordConfirmed" [formControlName]="'passwordConfirmed'">
            </label>
            </div>

        <div>
            <button type="submit" (click)="ajoutAnimateur()">Valider</button>
        </div>
    </form>
</div>