<div class="card">
    <h2 >
        <i class="fas fa-user"></i>
        {{user.firstName}} {{user.lastName}}

    </h2>
    <h4 p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: small;">
        <p style="text-decoration: underline; font-style: italic;"> Encadré par: </p>{{user.encadreur}}
        <p style="text-decoration: underline; font-style: italic;"> Souffre du trouble: </p>{{user.maladies}}
        <p style="text-decoration: underline; font-style: italic;"> A savoir sur le patient: </p>{{user.commentaires}}
        <p style="text-decoration: underline; font-style: italic;"> Date d'enregistrement: </p>{{user.date}}
        
       
    </h4>   
    <button class="button-card" (click)="delete()">Delete</button>
    <br>
    <button class="button-card edit" routerLink="/user-edit/{{user.id}}">Edit</button>
    <br>
    <button class="button-card select" routerLink="/quiz-list">Play</button>
</div>

    