<div class="card">
    <h2 >
        <i class="fas fa-user"></i>
        {{user.firstName}} {{user.lastName}}

    </h2>
    <h4 p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: small;">
        <p style="text-decoration: underline; font-style: italic;"> Encadré par: </p>{{user.encadreur}}
        <p style="text-decoration: underline; font-style: italic;"> Souffre du trouble: </p>{{user.maladies}}
        <p style="text-decoration: underline; font-style: italic;"> A savoir sur le patient: </p>{{user.commentaires}}
        <p style="text-decoration: underline; font-style: italic;"> Age du patient </p>{{user.age}}


    </h4>
    <button class="button-card" (click)="delete()">Supprimer</button>
    <button class="button-card edit" (click)="edit()">Modifier</button>
    <button class="button-card select" (click)="select()">Selectionner</button>
</div>

