<div class="card" p style="background-color: bisque;" p style="text-align: right; position: absolute; right: 3cm;">
  <form class="quiz-search">
    <h6>
      <label for="theme">
        Theme
          <select name="theme-field" id="theme" [(ngModel)] = "quizTheme">
            <option *ngFor="let theme of themes" [value]="theme.subject">
              {{theme.subject}}
            </option>
          </select>
          <button type="submit" class="button-card"  (click)="searchQuizTheme()"> </button>
      </label>
      <br>
    <label for="title">
      Titre
        <input class="input-custom" type="text" id="name1" [(ngModel)] = "quizName" [ngModelOptions]="{standalone: true}">
        <button type="submit" class="button-card" (click)="searchQuizName()"></button>
      Titre
        <select name="quiz-field" id="name2" [(ngModel)] = "quizName">
          <option *ngFor="let quiz of quizzes" [value]="quiz.name">
            {{quiz.name}}
          </option>
        </select>
      <button type="submit" class="button-card" (click)="searchQuizName()"></button>
    </label>
    <br>
  <button type="submit" class="button-card1" (click)="annule()">Tous les quizs</button>
  </h6>
  </form>
</div>

