<div class="card">
  <h2>Search for a quiz</h2>
  <form class="quiz-search">
    <label for="title">
      Title
      <input class="input-custom" type="text" id="name" [(ngModel)] = "quizName" [ngModelOptions]="{standalone: true}">
    </label>
    <button type="submit" class="button-card" (click)="searchQuizName()">Search</button>
    <br>
    <label for="theme">
      Theme
      <input class="input-custom" type="text" id="theme" [(ngModel)] = "quizTheme" [ngModelOptions]="{standalone: true}">
    </label>
    <button type="submit" class="button-card" (click)="searchQuizTheme()">Search</button>
  </form>
  <button type="submit" class="button-card" (click)="annule()">Annule</button>
</div>
