
<div class="card" p style="background-color: bisque;" p style="text-align: right; position: absolute; right: 0cm;">
  <form class="quiz-search">
  <h4 p style="font-family: cursive;">Rechercher un quiz</h4>
    <h6>
    <label for="title" p style="color: #225597;">
      Titre
        <input class="input-custom" type="text" id="name1" [(ngModel)] = "quizName" [ngModelOptions]="{standalone: true}" p style="color: #225597;">
      Titre
        <select name="quiz-field" id="name2" [(ngModel)] = "quizName">
          <option *ngFor="let quiz of quizzes" [value]="quiz.name">
            {{quiz.name}}
          </option>
        </select>
    <button type="submit" class="button-card" (click)="searchQuizName()">Rechercher</button>
    </label>
    <br>
    <label for="theme" p style="color: #225597;">
      Theme
        <select name="theme-field" id="theme" [(ngModel)] = "quizTheme">
          <option *ngFor="let theme of themes" [value]="theme.subject">
            {{theme.subject}}
          </option>
        </select> 
    <button type="submit" class="button-card" p style="border-style: dashed;"  (click)="searchQuizTheme()"> Rechercher</button>
    </label>
    <br>
  <button type="submit" class="button-card" (click)="annule()">Tous les quizz</button>
  </h6>
  </form>
</div>

