@import '../../../styles/card.scss';

* {
    //font-family: 'Josefin Sans' , sans-serif;
    //box-sizing: border-box;
    //margin: 0;
    //padding: 0;
    //text-align:left;
}

.myConfig {
    //font-family: {{configuration.police}}, sans-serif;
    //font-size: {{configuration.size}}px;
}

body{
    //display:grid;
    //text-align: left;
    //align-items: left;
    //min-height: 500vh;
    //background-color: #2f3552;;

  h1{
      //margin-bottom: 3rem;
      //text-decoration-line: underline;
      //text-transform: capitalize;
      //font-size: 3rem;
      //text-align: center;

      span, i{
          //color:chocolate;
      }
  }
}
.configuration {
  //justify-content: flex-start;

  //position: absolute;
  //top: calc(var(--top) * 1px);
  //left: calc(var(--left) * 1px);
  //height: calc(var(--slider) * 1px);
  //width: calc(var(--slider) * 1px);
  transform: translateX(calc(var(--slider) * 1px));
  transition: transform 0.3s


}


.configuration-chose {
  display: flex;
  //rectangle
  position: absolute;
  top: calc(var(--top) * 1px);
  left: calc(var(--left) * 1px);
  height: calc(var(--height) * 1px);
  width: calc(var(--width) * 1px);
  //bordure
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  background: #D3D3D3;
  border-radius: 0.1rem;
  //center
  justify-content: center;
  align-items: center;
}
