<div class="configuration-page">
<div class="configuration-text" >
 <app-configuration-form></app-configuration-form>
  <div *ngIf="configuration != undefined; else elseBlock">
 <app-configuration-chose [configuration]="configuration" (deleteConfiguration)="deleteConfiguration($event)"></app-configuration-chose>
</div>
</div>
<div class = "configuration-edit">
  <div class="configuration-chose" *ngIf="configuration != undefined">
    <!--div class = "configuration" *ngFor="let configuration of configurationList"-->
      <app-configuration [configuration]="configuration" [className]="(configuration.handicap === 'DMLA') ? 'configuration-border' : 'configuration-center'"></app-configuration>
    <!--/div-->
  </div>
</div>
</div>

<ng-template #elseBlock>
  <div>
    Vous n'avez pas encore choisi votre configuration préférée !
  </div>
</ng-template>
