
<app-configuration-form></app-configuration-form>

<div class = "configuration-edit">
  <div class = "configuration" *ngFor="let configuration of configurationList">
    <app-configuration [configuration]="configuration" (deleteConfiguration)="deleteConfiguration($event)"></app-configuration>
  </div>
</div>

<!--br><br>(Supprimer ce qui est après cette phrase quand ce qui est avant marchera)

<h1><br>Changer de configuration<br><br><br></h1>
<p><b>Police en gras:</b></p>
<p>
  Oui: <input type ="radio" name ="bold" />
  Non: <input type ="radio" name ="bold" checked = "yes"/><br>
</p>

<p><b><br>Taille du texte:</b></p>
<input type="number" id="size" name="police-size" min="6" max="70" value = "14" step = "4">
<input type="submit" value="Valider">

<p><b><br>Police du texte:</b></p>
<select name = "police">
  <option selected = "yes">Times new Roman</option>
  <option>Arial</option>
  <option>Arial Black</option>
  <option>Comic Sans MS</option>
  <option>Georgia</option>
  <option>Impact</option>
  <option>Trebuchet MS</option>
  <option>Verdana</option>
</select>
<input type="submit" value="Valider"-->

<p><b><br>Luminosité:</b></p>
<div class="range">
  <i class="fa fa-sun-o" aria-hidden="true"></i>
  <input type="range" id="bright" min="0" max="200" value="100">
  <span>100</span>
</div>

<p><b><br>Contraste:</b></p>
<div class="range">
  <i class="fa fa-adjust" aria-hidden="true"></i>
  <input type="range" id="contrast" min="0" max="200" value="100">
  <span>100</span>
</div>
