@import '../../../styles/card.scss';
@import '../../games/game/game.component.scss';
@import '../../questions/game-question/game-question.component.scss';
@import '../../games/game-result/game-result.component.scss';

.start {
  font-size: 30px;
  text-align: center;
  height: 20em; /* hauteur du parent */
  line-height: 5em; /* hauteur de ligne (identique) */
  font-weight: bold;
}

.button-card{
  display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
border-radius: 0.3cm;
border-width: 0.08cm;
}

.button-card1{
  display: table-cell;
//margin-left: 8px;
//min-width: 120px;
border-radius: 0.3cm;
border-width: 0.08cm;
color: white;
background-color: rgba(145, 6, 87, 0.87);
}

.button{
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-style: bold;
  color: green;
}