<!--button class="button-card" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}" routerLink="/quiz-list">Back</button-->
<div class="game" *ngIf="quiz && (configuration !== undefined)">
  <div [className]="(configuration.handicap === 'DMLA') ? 'game-border' : 'game-center'" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}">
    <div [className]="(configuration.handicap === 'DMLA') ? 'game-question-border' : 'game-question-center'">
      <br>
      Vous avez choisi le Quiz "{{quiz.name}}"
        <br>
        dans le theme "{{quiz.theme}}"
    </div>
    <div [className]="(configuration.handicap === 'DMLA') ? 'game-response-border' : 'game-response-center'">
      <button type="button" class="button-card" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}" (click)="addGame()">Commencer</button>
    </div>
  </div>
</div>

<ng-container *ngIf="(configuration === undefined)">
  Vous devez choisir une Configuration pour le Patient, dans la rubrique "Ma Configuration"
</ng-container>
