@import '../../../styles/card.scss';
@import '../../games/game/game.component.scss';
@import '../../questions/game-question/game-question.component.scss';
@import '../../games/game-result/game-result.component.scss';

.start {
  font-size: 30px;
  text-align: center;
  height: 20em; /* hauteur du parent */
  line-height: 5em; /* hauteur de ligne (identique) */
  font-weight: bold;
}
