<button class="button-card" routerLink="/quiz-list">Back</button>
<ng-container *ngIf="quiz">
  <div class="start">
    <div [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize()}">
      <br>
      <h1>Vous avez choisi le Quiz "{{quiz.name}}"
        <br>
        dans le theme "{{quiz.theme}}"</h1>
      <button type="button" class="button-card" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize()}" (click)="addGame()">Commencer</button>
    </div>
  </div>

</ng-container>
