<br>
<h2 p style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';"> Résultats par quiz:</h2>
<br>

<div class="container">

  <div class="container-onglets">
    <div class="onglets active" data-anim=1 (click)="ongletChange('1')">Quiz 1</div>
    <div class="onglets" data-anim=2 (click)="ongletChange('2')">Quiz 2</div>

  </div>

  <div class="contenu activeContenu" data-anim=1>
    <h3> Quiz 1 </h3>
    en cours ;)
  </div>

  <div class="contenu" data-anim=2>
    <h3> Quiz 2 </h3>
   en cours de preparation
  </div>

</div>
