<div class="card" p style="position: absolute; left: 0cm; top: 10cm">
  <h3 p style="font-family: cursive;">Create a new Theme</h3>
  <form class="theme-form" [formGroup]="themeForm">
    <h6>
      <label for="title">
        <p>
          Subject:
          <input class="input-custom" type="text" id="subject" [formControlName]="'subject'">
        </p>
      </label>
    </h6>
  </form>
  <button type="submit" class="button-card" (click)="addTheme()">Create</button>
  <button class="button-card" routerLink="/theme-list">Changer les thèmes</button>
</div>

