<div class="card" p style="position: absolute; left:0cm; top: 3cm;">
  
  <form class="theme-form" [formGroup]="themeForm">
    <h6>
      <h3 p style="font-family: cursive;">Create a new Theme</h3>
      <label for="title">
        <p>
          Subject:
          <input class="input-custom" type="text" id="subject" [formControlName]="'subject'">
        </p>
        
    <button type="submit" class="button-card" (click)="addTheme()">Create</button>
    <button class="button-card" routerLink="/theme-list">Changer les thèmes</button>
    <button type="submit" class="button-card" (click)="annule()" p style="text-align: center; position: relative;" >Annuler</button>
      </label>
    </h6>
  </form>
 
</div>

