<button class="button-card" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}" routerLink="/quiz-list">Back</button>

<div class="game">

  <div [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}">
    <div *ngIf = "game !== undefined" >
    <div class="question">
      <div *ngIf = "game.question[0] === null">
        <h1> Vous avez fini le Quiz ! BRAVO ! </h1>
        <button type="button" class="button-card"
                [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}"
                (click)="quitGame()">Quit</button>
      </div>
      <div *ngIf = "game.question[0] !== null">
      <!--Inputs & Output allow communication between parent & child components.-->
      <!--More information: https://angular.io/guide/component-interaction-->
      <div *ngIf = "game.question[0] !== undefined">
      <app-game-question [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}"
                         [question]=game.question[0] [isValided]=isValided (valideAnswer)="valideAnswer($event)" (valideQuestion)="isValideAnswer($event)"></app-game-question>
      <br>
      <app-game-response [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}"
                         [answer]=answer ></app-game-response>
      <br>
        <div *ngIf = "isValided">
      <app-game-result [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}"
                       [message]=message ></app-game-result>
      <br><br>
      <button type="button" class="button-card" [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre()}" (click)="next()">Question Suivante</button>
        </div>
    </div>

      </div>
    </div>
  </div>
  </div>
</div>

