<button class="button-card" routerLink="/quiz-list">Back</button>

<div class="game">
  <div class="question" >
    <h1> game n° {{game.id}}</h1>
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-game-question [question]=game.question[0] (valideAnswer)="valideAnswer($event)" (valideQuestion)="isValideAnswer($event)"></app-game-question>
    <br>
    <app-game-response [answer]=answer ></app-game-response>
    <br>
    <app-game-result [message]=message ></app-game-result>
  </div>
</div>


