@import '../../../styles/card.scss';

.game-response-center {
  display: flex;
  justify-content: center;
  width: 100%;

}

.game-response-border {
  display: flex;

  justify-content: flex-start;
  width: calc(70% - var(--slider) * 1%);

  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-color: darkmagenta;
}
