<div class="card">
  <h2>
    <i class="fab fa-leanpub"></i>
    <br>
    question:
    <textarea matInput class="input-custom" type="text" ng-init="'nous" maxlength="86" placeholder="Vous avez un maximum de 86 caractères" name="fre" [(ngModel)] = "question.label"  [ngModelOptions]="{standalone: true}">
    </textarea>
    <br>
  </h2>
  <div class="answer" *ngFor="let answer of question.answers; let i=index">
    {{i}} - <input class="input-custom" type="text" [(ngModel)] = "answer.value" [ngModelOptions]="{standalone: true}">
    <input type="checkbox" [(ngModel)] = "answer.isCorrect">
    <div *ngIf="question.answers.length > 2">
      <button class="button-card" (click)="delete(answer)">Supprimer</button>
    </div>
    <br>
  </div>
  <div *ngIf="question.answers.length < 4">
    <div *ngFor="let address of answers.controls; let i=index">
      <div class="answer-form" [formGroup]="answerForm">
    <div class="answer-form" >
      <label>
        {{question.answers.length + i}} - <input type="text" [formControlName]="'value'">
        <input type="checkbox" [formControlName]="'isCorrect'">
      </label>
    </div>
    </div>
    </div>
    <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
  </div>
    <button class="button-card" (click)="edit()">Modifier</button>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
