@import '../../../styles/card.scss';


.button-card{
    display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  border-radius: 0.3cm;
  border-width: 0.08cm;
}

.card{
  word-wrap: break-word;
}
.card{
  background: transparent;
  background-color: transparent;
  border-color: transparent;
  box-shadow: green;
}