@import '../../quizzes/quiz-search/quiz-search.component.scss';

/*.button-card{
    display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  border-radius: 0.3cm;
  border-width: 0.08cm;
}*/