<div class="card">
  <h3 p style="font-family: cursive;">Create a new Quiz</h3>
  <form class="quiz-form" [formGroup]="quizForm">
    <h6>
      <label for="title">
        <p>
          Title:
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
        </p>

      </label>
      <label for="theme">

        <p>
          Theme:
          <select name="theme-field" id="theme" [formControlName]="'theme'">
          <option *ngFor="let theme of themes" [value]="theme.subject">
          {{theme.subject}}
          </option>
          </select>
        </p>
      </label>
    </h6>
  </form>
      <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->

