<div>
  <button class="button-card" routerLink="/quiz-list" p style="position: absolute; top: 2.6cm;"> Retour aux quizs</button>
</div>
<br>
<div class="card">
  <button type="submit" class="button-card1" p style="  position: absolute; left: 14cm; top:-1.5cm" (click)="ajoutTheme()" >
    <section class="portfolio-experiment"><a>
      <span class="text"><i class="fas fa-plus fa-2x"></i>Nouveau theme</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a></section>
  </button>
  <h3 class="title" >Ajouter un nouveau Quiz</h3>
  <form class="quiz-form" [formGroup]="quizForm">

      <label for="title">
        <p>
          Nom du quiz:
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
        </p>

      </label>
      <label for="theme">
          Theme:
          <select class="input-custom" name="theme-field" id="theme" [formControlName]="'theme'">
          <option *ngFor="let theme of themes" [value]="theme.subject">
          {{theme.subject}}
          </option>
          </select>
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addQuiz()">Ajouter le quiz</button>

  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->

