<div class="card">
  <h3 p style="font-family: cursive;">Create a new Quiz</h3>
  <form class="quiz-form" [formGroup]="quizForm">
    <h6>
      <label for="title">
        <p>
          Title:
        <input class="input-custom" type="text" id="name" [formControlName]="'name'">
        </p>
        
      </label>
      <label for="theme">
        <p>
          Theme:
        <input class="input-custom" type="text" id="theme" [formControlName]="'theme'">
        </p>
        
      </label>
    </h6> 
  </form>
      <button type="submit" class="button-card" (click)="addQuiz()">Create</button>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
