<div class="card">
  <h2>Ajouter une nouvelle question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Question :
      <textarea matInput class="text" type="text" id="label" placeholder="Pas plus de 5 mots par ligne!" [formControlName]="'label'"></textarea>
      <br>
    </label>
    <br>
    <div *ngIf="answers.length >= 4">
      Vous avez atteint le nombre de réponse maximal par question
    </div>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Réponse {{i}} -
            <input type="text" [formControlName]="'value'">
            <br>
            Correct
            <input type="checkbox" [formControlName]="'isCorrect'">
            <br>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="answers.length < 4">
      <button class="button-card" (click)="addAnswer()">Ajouter une réponse</button>
    </div>
    <div *ngIf="answers.length >= 2 && answers.length <= 4">
    <button type="submit" class="button-card" (click)="addQuestion()">Valider</button>
    </div>
    <div *ngIf="answers.length < 2">
      <br>
      (ps: Une question doit avoir au moins 2 réponses pour être créée)
    </div>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
