<div class="card">
  <h2>Create a new question</h2>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="label">
      Question :
      <input class="input-custom" type="text" id="label" [formControlName]="'label'">
      <br>
      Audio
      <br>
        <button id="startRecordingButton" (click)="startRecord()">Start recording</button>
        <br>
        <button id="stopRecordingButton" (click)="stopRecord()">Stop recording</button>
        <br>
        <button id="playButton" (click)="playAudio()">Play</button>
    </label>
    <br>
    <div *ngIf="answers.length >= 4">
      Vous avez atteint le nombre de réponse maximal par question
    </div>
    <div class="answer" formArrayName="answers">
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form" [formGroupName]="i">
          <label>
            Answer {{i}} -
            <input type="text" [formControlName]="'value'">
            <br>
            Correct
            <input type="checkbox" [formControlName]="'isCorrect'">
            <br>
            Audio
            <br>
            <button id="startRecordingButton"  (click)="startRecord()">Start recording</button>
            <br>
            <button id="stopRecordingButton" (click)="stopRecord()">Stop recording</button>
            <br>
            <button id="playButton" (click)="playAudio()">Play</button>
            <br>
            <button id="downloadButton" (click)="Download()">Download</button>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="answers.length < 4">
      <button class="button-card" (click)="addAnswer()">Add Answer</button>
    </div>
    <div *ngIf="answers.length >= 2 && answers.length <= 4">
    <button type="submit" class="button-card" (click)="addQuestion()">Create</button>
    </div>
    <div *ngIf="answers.length < 2">
      <br>
      (ps: Une question doit avoir au moins 2 réponses pour être créée)
    </div>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
