
<button class="button-card2" p style="position: absolute; top: 3.0cm; size: 0.80em; color: rgba(23, 126, 3, 0.623);" (click)="ajoutQuizz()">Retour</button>
<app-theme-form></app-theme-form>
<app-theme-search></app-theme-search>
<div class="listTheme" *ngIf="themeList.length > 0; else elseBlock">
  <div class="theme" *ngFor="let theme of themeList">
    <app-theme [theme]="theme" (deleteTheme)="deleteTheme($event)" (editTheme)="editTheme($event)"></app-theme><br>
  </div>
</div>
<ng-template #elseBlock>
  <div>
    Vous n'avez pas crée de thèmes !
  </div>
</ng-template>
