@import '../../quizzes/quiz-list/quiz-list.component.scss';

.button-card2{
  display: table-cell;
  font-size: 1em;
  margin-left: 8px;
  min-width: 120px;
  border: none;
}

.button-card{
  display: table-cell;
  font-size: 0.95em;
  color:#078518 ;
  margin-left: -144px;
  min-width: 120px;
  background: transparent;
  border: none;
}

.listTheme{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: 12cm;
  height: max-content;
}

