/*.quiz-list {
  display: flex;
}*/
@import '../../../styles/card.scss';

* {
    font-family: 'Josefin Sans' , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align:center;
}

.quiz{
    display:grid;
    text-align: center;
    align-items: center;
}
    .button-card {
        display:block;
        width:400px;
        line-height:20px;
        text-align:center;
        vertical-align:middle;
        background:rgba(23, 126, 3, 0.623);;
        color:white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 0.3cm;
    }


/*.edit {
    margin-left: 0.3em;
}*/