<div *ngIf="user == undefined; else patientBlock">

    <app-quiz-search></app-quiz-search>
  
  <button type="submit" class="button-card1"  p style="  position: absolute; top: 2.5cm; left: 0.3cm;" (click)="ajoutQuizz()">
    <section class="portfolio-experiment"><a>
      <span class="text"><i class="fas fa-plus fa-3x"></i>Nouveau quiz</span>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a></section>
 </button>
 
</div>
<!--div *ngIf="user.configuration == undefined && user != undefined">
  <h3 class="alerte">Vous n'avez pas de configuration, créez en une dans MaConfiguration</h3> 
 </div-->

<ng-template #patientBlock>
  <div> <app-quiz-search></app-quiz-search> </div>
</ng-template>

<div *ngIf="quizList.length > 0; else elseBlock" p style=" position:absolute; top: 10cm;">
  <div class="quiz" *ngFor="let quiz of quizList">
    <app-quiz [user]="user" [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)" (gameSelected)="gameSelected($event)"></app-quiz>
  </div>
  <!--div *ngIf="user != undefined">
    <button class="button-card" (click)="retourAdmin()"> Retour chez Admin </button>
  </div-->
</div>

<ng-template #elseBlock>
  <div> Aucun quiz n'a été crée ! </div>
</ng-template>
