<div *ngIf="user == undefined">
  <app-quiz-form></app-quiz-form>
  <app-theme-form></app-theme-form>
  <app-quiz-search></app-quiz-search>
</div>
    <div *ngIf="quizList.length > 0; else elseBlock">
      <div class="quiz" *ngFor="let quiz of quizList">
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <div *ngIf="user == undefined; else patientBlock">
          <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
        </div>
        <ng-template #patientBlock>
          <div>
            <app-quiz-play [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quiz-play>
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)" (editQuiz)="editQuiz($event)"></app-quiz>
          </div>
        </ng-template>
        <!--br-->
      </div>
      
  <button class="button-card" routerLink="/user-list"> Retour chez Admin </button>
    </div>

    <ng-template #elseBlock>
      <div>
        No quizzes
      </div>
    </ng-template>
