<button class="button-card" routerLink="/user-list">Back</button>

<ng-container *ngIf="user">
    <h2>{{user.firstName}}</h2>
    <!--app-configuration-form [user]="user"></app-configuration-form-->
    <app-configuration-edit [user]="user"></app-configuration-edit>

<div class="card">
    <h3> Modify Comments</h3>
    <h2>
        <input class="input-custom" type="text" ng-init="'nous" name="fre" [(ngModel)] = "user.commentaires" [ngModelOptions]="{standalone: true}">
    </h2>
  
      <button class="button-card" (click)="modifUserComments()">Edit</button>
  </div>
  
</ng-container> 
