@import '../../../styles/card.scss';

.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.game-question-center {
  display: flex;
  width: 100%;
  justify-content: center;

  //border: 5px solid red;
}

.game-answer-center {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  //border: 5px solid red;
}

.game-configuration-border {
  display: flex;
  justify-content: space-between;

  //border: 5px solid indianred;
}

.game-configuration-center {
}

.game-question-border {
  display: flex;
  width: calc(100% - var(--slider) * 1%);

  border: 5px solid cadetblue;
}

.game-answer-border {
  display: flex;
  width: calc(80% - var(--slider) * 1%);

  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  border: 5px solid cornflowerblue;
}

.game-answer-response {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  //border: 5px solid mediumspringgreen;

}

.game-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;


}

.game-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //border: 5px solid yellow;
}

.game-center {
}

