@import '../../../styles/card.scss';

.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.game-question {
  display: flex;
  width: 30%;
  justify-content: flex-start;

  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-color: green;
}

.game-answer {
  display: flex;
  width: 100%;

  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-color: orange;
}

.game-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;

  border-left: 5px solid;
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-top: 5px solid;
  border-color: yellow;

}
