@import '../../../styles/card.scss';

.answer-form {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.game-question-center {
  display: flex;
  width: 100%;
  justify-content: center;
  word-wrap: break-word;

   // border: 5px solid red;
}
.game-question{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  word-wrap: break-word;
}

.game-answer-center {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  //border: 5px solid red;
}

.game-configuration-border {
  display: flex;
  justify-content: space-between;

  // border: 5px solid blue;
}

.game-configuration-center {
}

.game-question-border {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: max (25cm, calc(100% - var(--slider) * 1%));
  word-wrap: break-word;

  // border: 5px solid cadetblue;
}

.game-answer-border {
  display: flex;
  width: min(20cm, calc(80% - var(--slider) * 1%));

  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  //border: 5px solid cornflowerblue;
}

.game-answer-response {
  display: flex;
  width: 100%;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  //border: 5px solid mediumspringgreen;

}

.game-button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  // border: 5px solid purple;

}

.game-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  //border: 5px solid yellow;
}

.game-center {
}

.button-card{
  display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
border-radius: 0.3cm;
border-width: 0.08cm;
}

