<div class="card">
  <div class="question" *ngFor="let question of quiz.questions">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
     Question {{question.label}}
    <div class="answer" *ngFor="let answer of question.answers; let i=index">
      <button class="button-card" (click)="valideAnswer(answer)">{{i+1}} - {{answer.value}}</button>
    </div>
    <button class="button-card" (click)="valideQuestion(question)">Valide Ma Reponse</button>
  </div>
</div>
