
<div *ngIf="quiz.questions.length >= 1 || user == undefined">
  <div class="card">
    <h2>
      {{quiz.name}}
    </h2>
    <h5>
      Thème: {{quiz.theme}}
      <br>
      Nombre de Question : {{quiz.questions.length}}
    </h5>
    <div *ngIf="user != undefined">
      <button class="button-card select" (click)="selectQuiz()">Jouer</button>
    </div>
    <div *ngIf="user == undefined">
      <button class="button-card" (click)="delete()">Supprimer</button>
      <button class="button-card edit" routerLink="/edit-quiz/{{quiz.id}}">Modifier</button>
    </div>
  </div>
</div>
