<div *ngIf="quiz.questions.length >= 1 || user == undefined">
  <div class="card">
    <h2>
      {{quiz.name}}
    </h2>
    <h5>
      Thème: {{quiz.theme}}
      <br>
      Nombre de Question : {{quiz.questions.length}}
    </h5>
    <div *ngIf="user != undefined">
      <div *ngFor="let game of games;">
        <div *ngIf="(game.quizId == quiz.id) && (game.userId == user.id) && (game.question[0] != null)">
          {{alreadyStart()}}
          <h5 style="color: rgba(145, 6, 87, 0.623);">Quiz en Cours :
          <button class="button-card select" (click)="continueQuiz(game)">Continuer le Quiz</button>
          <button class="button-card select" (click)="reDoQuiz(game)">Recommencer</button>
          </h5>
        </div>
      </div>
      <div *ngIf="hasConfiguration() == true && user!=undefined">
        <h3>Créer une configuration avant de commencer!!!</h3>
      </div>
      <div *ngIf="!isAlreadyStart">
        <button class="button-card select" (click)="selectQuiz()">Jouer</button>
      </div>
    </div>
    <div *ngIf="user == undefined">
      <button class="button-card edit" routerLink="/edit-quiz/{{quiz.id}}">Modifier</button>
      <button class="button-card" (click)="delete()">Supprimer</button>
    </div>
  </div>
</div>
