<div class="card" *ngIf="configuration != undefined">
  <h3>Configuration Choisie:</h3>
  Handicap: {{configuration.handicap}} <br>
  Gras : {{configuration.bold}}<br>
  Police : {{configuration.police}}<br>
  Taille : {{configuration.size}}<br>
  Luminosité : {{configuration.bright}}<br>
  Contraste : {{configuration.contrast}}<br>
  Décalage : {{configuration.shift}}<br>
  <div *ngIf="user != undefined">
    <button class="button-card" (click)="delete()">Retour à la configuration précédente</button>
  </div>
</div>
