@import '../../../styles/card.scss';

.configuration-self {
  display: flex;
  height: 50%;
  width: 100%;

  //justify-content: start;
  //flex-direction: column;
  background-color: #D3D3D3;

  border: 5px solid green;
}

.button-card{
  display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
border-radius: 0.3cm;
border-width: 0.08cm;
}