<div [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre(), 'opacity': getOpacity()}">
  <h2>Configuration Choisie:</h2>
  handicap: {{configuration.handicap}} <br>
  Gras : {{configuration.bold}}<br>
  Police : {{configuration.police}}<br>
  Taille : {{configuration.size}}<br>
  Luminosité : {{configuration.bright}}<br>
  Contraste : {{configuration.contrast}}<br>
  Décalage : {{configuration.shift}}<br>
  Opacité : {{configuration.opacity}}<br>
    <button class="button-card"
            [ngStyle]="{'font-weight': getBold(), 'font-family': getPolice(), 'font-size': getSize(), 'filter': getFiltre(), 'opacity': getOpacity()}"
            (click)="delete()"> Back Configuration</button>
</div>
