@import '../../../styles/card.scss';

.configuration-self {
  display: flex;
  height: 100%;
  width: 100%;

  //justify-content: start;
  //flex-direction: column;
  background-color: #D3D3D3;

  //border: 5px solid green;
}

.game-question{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  //border: 5px solid gray;
}
