<div *ngIf="user == undefined">
<app-user-search></app-user-search>
</div>
<button type="submit" class="button-card" (click)="ajoutPatient()" p style=" position: absolute; top: 8.5cm;"><h2 > <i class="fas fa-user-plus">Ajouter un nouveau patient</i></h2>
</button>
<div class="user-list" p style=" position:absolute; top: 10cm;">
    <div class="user" *ngFor="let user of userList">
      <div *ngIf="editUserChose != user.id">
        <app-user [user]=user (deleteUser)="deleteUser($event)" (userSelected)="selectUser($event)" (editUser)="editUser($event)"></app-user>
      </div>
      <div *ngIf="editUserChose == user.id">
        <app-user-edit [user]=user (editUserDone)="editUserDone($event)"></app-user-edit>
      </div>
    </div>    
</div>
  <!-- changes-->
  <ng-template #elseBlock>
    <div>
      Aucun patients
    </div>
  </ng-template>
