<div *ngIf="user == undefined">
<app-user-form></app-user-form>
<app-user-search></app-user-search>
</div>
<h2 p style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';"> <i class="fas fa-user-plus">Ajouter un nouveau patient</i></h2>
<button type="submit" class="button-card" routerLink="/user-form">Ajouter</button>
<div class="user-list">
    <div class="user" *ngFor="let user of userList">
      <div *ngIf="editUserChose != user.id">
        <app-user [user]=user (deleteUser)="deleteUser($event)" (userSelected)="selectUser($event)" (editUser)="editUser($event)"></app-user>
      </div>
      <div *ngIf="editUserChose == user.id">
        <app-user-edit [user]=user (editUserDone)="editUserDone($event)"></app-user-edit>
      </div>
    </div>
</div>
  <!-- changes-->
  <ng-template #elseBlock>
    <div>
      Aucun patients
    </div>
  </ng-template>
