@import '../../quizzes/edit-quiz/edit-quiz.component.scss';


.button-card{
    display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  border-radius: 0.3cm;
  background: linear-gradient(125deg,rgba(145, 6, 87, 0.623),rgba(23, 126, 3, 0.623));
  border-width: 0.08cm;
}
.card {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 3px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  background: white;
  border: transparent;
  height: max-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: transparent;
  color: rgb(3, 3, 3);
}