@import '../../../styles/card.scss';

.game-response-center {
  display: flex;
  justify-content: center;
  width: 100%;

}

.game-response-border {
  display: flex;

  justify-content: flex-start;
  width: calc(80% - var(--slider) * 1%);

}
.button-card{
  display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
border-radius: 0.3cm;
border-width: 0.08cm;
}
