<INPUT class="button-card" TYPE="button" VALUE="Retour" onClick="history.go(-1);">
<!--routerLink="/quiz-list"-->
<ng-container *ngIf="quiz">
  <br>
  <h2>le nom du quiz : {{quiz.name}}</h2>
  <div>
    <label>
      Nouveau nom de quiz
      <input class="input-custom" type="text" id="subject" [(ngModel)] = "quizName" [ngModelOptions]="{standalone: true}">
      <button type="submit" class="button-card" (click)="modifQuizName()">Modifier</button>
    </label>
  </div>

  <h3>le thème du quiz : {{quiz.theme}}</h3>
  <div>
    <label>
      Nouveau nom de thème
      <select name="theme-field" id="theme" [(ngModel)] = "quizTheme">
        <option *ngFor="let theme of themes" [value]="theme.subject">
          {{theme.subject}}
        </option>
      </select>
      <button type="submit" class="button-card" (click)="modifQuizTheme()">Modifier</button>
    </label>
  </div>

  <app-question-form [quiz]="quiz"></app-question-form>
  <app-question-list [quiz]="quiz"></app-question-list>
</ng-container>
