<button class="button-card" routerLink="/quiz-list">Retour</button>

<ng-container *ngIf="quiz">
  <h2>le nom du quiz : {{quiz.name}}</h2>
  <div>
    <label>
      Nouveau nom de quiz
      <input class="input-custom" type="text" id="subject" [(ngModel)] = "quizName" [ngModelOptions]="{standalone: true}">
      <button type="submit" class="button-card" (click)="modifQuizName()">Modifier</button>
    </label>
  </div>

  <h2>le thème du quiz : {{quiz.theme}}</h2>
  <div>
    <label>
      Nouveau nom de thème
      <input class="input-custom" type="text" id="quizTheme" [(ngModel)] = "quizTheme" [ngModelOptions]="{standalone: true}">
      <button type="submit" class="button-card" (click)="modifQuizTheme()">Modifier</button>
    </label>
  </div>

  <app-question-form [quiz]="quiz"></app-question-form>
  <app-question-list [quiz]="quiz"></app-question-list>
</ng-container>
