# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\dijou\Documents\Projet\Projet7-PS6\Projet7-PS6\2020-2021-ps6-brocoli\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
