<div class="card">
  <h3 class="title">Choisir <br>une nouvelle configuration
  </h3>
  <form class="configuration-form" [formGroup]="configurationForm">

    <label for="bold">Texte en gras ? </label>
    <input type="radio" value="bold" id="bold" name="bold" [formControlName]="'bold'"> Oui
    <input type="radio" value="normal" id="nobold" name="bold" [formControlName]="'bold'"> Non
    <br>
    <label for="size">Taille du texte </label>
    <div *ngIf="configuration == undefined">
      <input class="input-custom" type="number" id="size" name="police-size" min="26" max="60" value="14" step="4"
             [formControlName]="'size'">
    </div>
    <div *ngIf="configuration != undefined">
      <div *ngIf="configuration.handicap == 'DMLA' && configuration.shift<=37">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="56" value="14" step="2"
               [formControlName]="'size'">
      </div>
      <div *ngIf="configuration.handicap == 'DMLA' && configuration.shift>37 ">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="30" value="14" step="2"
               [formControlName]="'size'">
      </div>
      <div *ngIf="configuration.handicap == 'Glaucome' && configuration.shift<=37">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="30" value="14" step="2"
               [formControlName]="'size'">
      </div>
      <div *ngIf="configuration.handicap == 'Glaucome' && configuration.shift>37 ">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="56" value="14" step="2"
               [formControlName]="'size'">
      </div>
      <div *ngIf="configuration.handicap == 'Autres' && configuration.shift<=37">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="30" value="14" step="2"
               [formControlName]="'size'">
      </div>
      <div *ngIf="configuration.handicap == 'Autres' && configuration.shift>37 ">
        <input class="input-custom" type="number" id="size" name="police-size" min="26" max="56" value="14" step="2"
               [formControlName]="'size'">
      </div>
    </div>

    <label class="input-custom" for="police"> <br>Police du texte </label>
    <select id="police" name="police" [formControlName]="'police'">
      <option value="Arial">Arial</option>
      <option value="Arial Black">Arial Black</option>
      <option value="Comic Sans MS">Comic Sans MS</option>
      <option value="Georgia">Georgia</option>
      <option value="Impact">Impact</option>
      <option value="Times new Roman">Times new Roman</option>
      <option value="Trebuchet">Trebuchet</option>
      <option value="Verdana">Verdana</option>
    </select>
    <br>
    <label class="input-custom" for="bright"> <br> Luminosité </label>
    <div class="range">
      <i class="fa fa-sun-o" aria-hidden="true"></i>
      <input type="range" id="bright" min="0" max="200" value="200" [formControlName]="'bright'">
    </div>

    <label class="input-custom" for="contrast"> <br> Contraste </label>
    <div class="range">
      <i class="fa fa-adjust" aria-hidden="true"></i>
      <input type="range" id="contrast" min="0" max="200" value="200" [formControlName]="'contrast'">
    </div>

    <div *ngIf="configurationForm.getRawValue().handicap !== 'Autres'">
      <label class="input-custom" for="decalage"> <br> Décalage </label>
      <div class="range"> <!--changes-->
        <span class="value">centre</span>
        <input type="range" id="shift" min="0" max="60" value="100" [formControlName]="'shift'">
        <span class="value">bordure</span>
      </div>
    </div>
    <button type="submit" class="button-card" (click)="addConfiguration()">Creer la configuration</button>
  </form>
</div>
