<div class="card">
  <h2>Choisir une nouvelle configuration</h2>
  <form class="configuration-form" [formGroup]="configurationForm">

    <label for="bold">Texte en gras ? </label>
    <input type="radio" value="bold" id="bold" name="bold" [formControlName]="'bold'"> Oui
    <input type="radio" value="normal" id="nobold" name="bold" [formControlName]="'bold'"> Non
<br>
    <label for="size">Taille du texte </label>
      <input class="input-custom" type="number" id="size" name="police-size" min="6" max="70" value = "14" step = "4" [formControlName]="'size'">

    <label for="police"> <br>Police du texte  </label>
      <select id = "police" name="police" [formControlName]="'police'">
        <option value = "Arial">Arial</option>
        <option value = "Arial Black">Arial Black</option>
        <option value = "Comic Sans MS">Comic Sans MS</option>
        <option value = "Georgia">Georgia</option>
        <option value = "Impact">Impact</option>
        <option value = "Times new Roman">Times new Roman</option>
        <option value = "Trebuchet">Trebuchet</option>
        <option value = "Verdana">Verdana</option>
      </select>
    <br>
    <label for="bright"> <br> Luminosité </label>
    <div class="range">
      <i class="fa fa-sun-o" aria-hidden="true"></i>
      <input type="range" id="bright" min="0" max="200" value="200" [formControlName]="'bright'">
      <span class= "value">200</span>
    </div>
    <label for="contrast"> <br> Contraste </label>
    <div class="range">
      <i class="fa fa-adjust" aria-hidden="true"></i>
      <input type="range" id="contrast" min="0" max="200" value="200" [formControlName]="'contrast'">
      <span class= "value">200</span>
    </div>
    <label for="decalage"> <br> Décalage </label>
    <div class="range">
      <span class= "value">centre</span>
      <input type="range" id="shift" min="0" max="100" value="100" [formControlName]="'shift'">
      <span class= "value">bordure</span>
    </div>
    <button type="submit" class="button-card" (click)="addConfiguration()">Create</button>
  </form>
</div>
<script>
  const rangeInput = document.querySelectorAll('input');
  const value = document.querySelectorAll('.value');
  const container = document.querySelector('.card');

  for(let i=0; i<rangeInput.length; i++){
    value[i].textContent = rangeInput[i].value;
    rangeInput[i].addEventListener('input', ()=>{
      value[i].textContent = rangeInput[i].value;
      if(document.getElementById("bright")){
        card.style.filter = "brightness("+this.configuration.bright+"%)";
      }
    })
  }
</script>

<!--br><br>{{configurationForm.getRawValue() | json }} -->
